<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<form method="POST" class="post-form" action="{{ employee.id }}">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-md-12 align-center">
                <div class="card">
                    <div class="card-header">
                        <div style="text-align: center;"><h3>Update Details</h3></div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Id:</label>
                        <div class="col-sm-4">
                            <input type="text" name="id" id="id_eid" required maxlength="20" value="{{ employee.id }}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Name:</label>
                        <div class="col-sm-4">
                            <input type="text" name="name" id="id_ename" required maxlength="100"
                                   value="{{ employee.name }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Address:</label>
                        <div class="col-sm-4">
                            <input type="text" name="address" id="address" required maxlength="100"
                                   value="{{ employee.address }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Neighborhood:</label>
                        <div class="col-sm-4">
                            <input type="text" name="neighborhood" id="neighborhood" required maxlength="100"
                                   value="{{ employee.neighborhood }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Add. Number:</label>
                        <div class="col-sm-4">
                            <input type="number" name="neighborhood" id="neighborhood" required maxlength="5"
                                   value="{{ employee.address_number }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Email:</label>
                        <div class="col-sm-4">
                            <input type="email" name="email" id="id_eemail" required maxlength="254"
                                   value="{{ employee.email }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Employee Number:</label>
                        <div class="col-sm-4">
                            <input type="number" name="number" id="id_econtact" required maxlength="15"
                                   value="{{ employee.number }}"/>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success">Update</button>
                        <div style="text-align: center;"><a href="/" class="btn btn-primary">Menu</a></div>
                        <div style="text-align: center;"><a href="/bill/list/bills/" class="btn btn-primary">Employee
                            List</a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>