<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<form method="POST" class="post-form" action="{{ employee.id }}">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-md-12 align-center">
                <div class="card">
                    <div class="card-header">
                        <div style="text-align: center;"><h3>Atualizar detalhes do Funcionário</h3></div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">ID:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="id" id="id" required maxlength="20"
                                   value="{{ employee.id }}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="name" id="name" required maxlength="100"
                                   value="{{ employee.name }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Endereço:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="address" id="address" required maxlength="100"
                                   value="{{ employee.address }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Bairro:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="neighborhood" id="neighborhood" required
                                   maxlength="100"
                                   value="{{ employee.neighborhood }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Número da Casa/Apto:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="address_number" id="address_number" required
                                   maxlength="5"
                                   value="{{ employee.address_number }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">E-mail:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="email" name="email" id="email" required
                                   maxlength="254"
                                   value="{{ employee.email }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Número:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="number" id="id_econtact" required
                                   maxlength="15"
                                   value="{{ employee.number }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Salário:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="salary" id="salary" required
                                   maxlength="15"
                                   value="{{ employee.salary }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fornecedor:</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="provider">
                                {% for provider in providers %}
                                    <option value="{{ provider.id }}"
                                            {% if employee.provider == provider %}
                                            selected {% endif %}>{{ provider }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br><br><br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success">Atualizar</button>
                        <div style="text-align: center;"><a href="/" class="btn btn-primary">Voltar para o Menu</a>
                        </div>
                        <div style="text-align: center;"><a href="/employee/list/employees/" class="btn btn-primary">Consultar
                            Funcionários</a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>