<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar conta de Fornecedor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<form method="POST" class="post-form" action="/provider_bill/">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-md-12 align-center">
                <div class="card">
                    <div class="card-header">
                        <div style="text-align: center;"><h3>Criar nova conta de Fornecedor:</h3></div>
                    </div>
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Quantidade de produtos desejados:</label>
                            <div class="col-sm-4">
                                {{ form.quantity }}
                            </div>
                            <small>Ao selecionar um produto, verifique se quantidade desejada do mesmo está
                                disponível.</small>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Selecione os produtos:</label>
                            <div class="col-sm-4">
                                {{ form.product }}
                            </div>
                        </div>
                        <br>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-success">Criar</button>
                            <div style="text-align: center;"><a href="/" class="btn btn-primary">Voltar para o Menu</a>
                            </div>
                            <div style="text-align: center;"><a href="/provider_bill/list/provider_bills/"
                                                                class="btn btn-primary">Contas a Pagar</a></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>