<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar conta de Fornecedor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<form method="POST" class="post-form" action="{{ provider_bill.id }}">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-md-12 align-center">
                <div class="card">
                    <div class="card-header">
                        <div style="text-align: center;"><h3>Atualizar detalhes da conta de Fornecedor</h3></div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">ID da conta:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="id" id="id" required maxlength="20"
                                   value="{{ bill.id }}"
                                   disabled/>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Quantidade de produtos:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="quantity" id="quantity" required maxlength="15"
                                   value="{{ bill.quantity }}"/>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success">Atualizar</button>
                        <div style="text-align: center;"><a href="/" class="btn btn-primary">Voltar para o Menu</a></div>
                        <div style="text-align: center;"><a href="/provider_bill/list/provider_bills/"
                                                            class="btn btn-primary">Contas a Pagar</a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>