<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider Bill Records</title>
    {% load static %}
    {% load mathfilters %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th translate="yes">Provider Bill ID</th>
        <th translate="yes">Provider Bill Quantity</th>
        <th>Provider Bill Product and Respective Provider</th>
        <th>Provider Bill Unique Product Value</th>
        <th>Provider Bill Total Value</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for provider_bill in provider_bills %}
        <tr>
            <td>{{ provider_bill.id }}</td>
            <td>{{ provider_bill.quantity }}</td>
            <td>
                {% for provider_bill_product in provider_bill_products %}
                    {% if provider_bill_product.providerbill_id == provider_bill.id %}
                        {{ provider_bill_product.product.name }}, {{ provider_bill_product.product.provider.name }} <br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for provider_bill_product in provider_bill_products %}
                    {% if provider_bill_product.providerbill_id == provider_bill.id %}
                        R$ {{ provider_bill_product.product.price }} <br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for provider_bill_product in provider_bill_products %}
                    {% if provider_bill_product.providerbill_id == provider_bill.id %}
                        R$ {{ provider_bill_product.product.price|mul:provider_bill.quantity }} <br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="/provider_bill/update/{{ provider_bill.id }}"><span
                        class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/provider_bill/delete/{{ provider_bill.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{#{% for pv in provider_bill_products %}#}
{#    <h3>{{ pv.product.provider.name }}</h3>#}
{#    <br><p>---</p>#}
{#    <h3>{{ pv.product.price }}</h3>#}
{#{% endfor %}#}
{#<h3>---</h3>#}
{#{% for pb in provider_bills %}#}
{#    <h3>{{ pb }}</h3>#}
{#{% endfor %}#}
{#<h3>---</h3>#}
{#{% for p in providers %}#}
{#    <h3>{{ p.id }}</h3>#}
{#{% endfor %}#}
<div style="text-align: center;"><a href="/provider_bill/" class="btn btn-primary">Add New Record</a></div>
<div style="text-align: center;"><a href="/" class="btn btn-primary">Menu</a></div>
</body>
</html>