<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relacionamento Fornecedor/Conta/Produto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Nome do Fornecedor</th>
        <th>Nome do Produto</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for provider_bill_product in provider_bill_products %}
        <tr>
            <td>{{ provider_bill_product.id }}</td>
            {% for provider_bill in provider_bills %}
                {% if provider_bill_product.providerbill == provider_bill %}
                    <td>{{ provider_bill.provider.name }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ provider_bill_product.product }}</td>
            <td>
                <a href="/provider_bill_product/delete/{{ provider_bill_product.id }}" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<div style="text-align: center;"><a href="/" class="btn btn-primary">Voltar para o Menu</a></div>
</body>
</html>