<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Bill ID</th>
        <th>Bill Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for bill in bills %}
        <tr>
            <td>{{ bill.id }}</td>
            <td>{{ bill.price }}</td>
            <td>
                <a href="/bill/update/{{ bill.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/bill/delete/{{ bill.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/bill/" class="btn btn-primary">Add New Record</a></center>
</body>
</html>