<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Product Provider</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.provider }}</td>
            <td>
                <a href="/product/update/{{ product.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/product/delete/{{ product.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<div style="text-align: center;"><a href="/product/" class="btn btn-primary">Add New Record</a></div>
<div style="text-align: center;"><a href="/" class="btn btn-primary">Menu</a></div>
</body>
</html>