<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div style="text-align: center;"><h3>Produtos</h3></div>
<br>
<div style="text-align: center;">
    <a href="/product/" class="btn btn-primary">Adicionar</a>
    <a href="/" class="btn btn-warning">Voltar para o Menu</a>
</div>
<br><br>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Fornecedor do Produto</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.provider }}</td>
            <td>
                <a href="/product/update/{{ product.id }}" class="btn btn-primary">Atualizar</a>
                <a href="/product/delete/{{ product.id }}" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<div style="text-align: center;">
    <a href="/product/" class="btn btn-primary">Adicionar</a>
    <a href="/" class="btn btn-warning">Voltar para o Menu</a>
</div>
</body>
</html>