<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Costumer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<form method="POST" class="post-form" action="{{ costumer.id }}">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-md-12 align-center">
                <div class="card">
                    <div class="card-header">
                        <div style="text-align: center;"><h3>Update Details</h3></div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">ID:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="eid" id="id_eid" required maxlength="20"
                                   value="{{ costumer.id }}"
                                   disabled/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costumer Name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="name" id="name" required maxlength="100"
                                   value="{{ costumer.name }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costumer Address:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="address" id="address" required maxlength="100"
                                   value="{{ costumer.address }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costumer Neighborhood:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="neighborhood" id="neighborhood" required
                                   maxlength="100"
                                   value="{{ costumer.neighborhood }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costumer Add. Number:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="address_number" id="address_number" required
                                   maxlength="5"
                                   value="{{ costumer.address_number }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costumer Email:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="email" name="email" id="email" required maxlength="254"
                                   value="{{ costumer.email }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costumer Number:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="number" id="number" required maxlength="15"
                                   value="{{ costumer.number }}"/>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success">Atualizar</button>
                        <div style="text-align: center;"><a href="/" class="btn btn-primary">Voltar para o Menu</a>
                        </div>
                        <div style="text-align: center;"><a href="/bill/list/bills/" class="btn btn-primary">Consultar
                            Clientes</a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>