<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relacionamento Cliente/Conta/Produto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<br>
<center><h3>Relação conta Cliente com Produto</h3></center>
<br><br>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Nome do Cliente</th>
        <th>Nome do Produto</th>
    </tr>
    </thead>
    <tbody>
    {% for costumer_bill_product in costumer_bill_products %}
        <tr>
            <td>{{ costumer_bill_product.id }}</td>
            {% for costumer_bill in costumer_bills %}
                {% if costumer_bill_product.costumerbill == costumer_bill %}
                    <td>{{ costumer_bill.costumer.name }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ costumer_bill_product.product }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<div style="text-align: center;"><a href="/" class="btn btn-primary">Voltar para o Menu</a></div>
</body>
</html>