<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="form-group">
    <a href="/provider/list/providers" class="btn btn-primary">Providers</a>
    <a href="/employee/list/employees" class="btn btn-primary">Employees</a>
    <a href="/bill/list/bills" class="btn btn-primary">Bills</a>
    <a href="/costumer/list/costumers" class="btn btn-primary">Costumers</a>
    <a href="/product/list/products" class="btn btn-primary">Products</a>
</div>
</body>