<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div id="outer">
    <div style="text-align: center;">
        <h3>Modelos/Entidades</h3>
        <a href="/provider/list/providers" class="btn btn-primary">Fornecedores</a>
        <a href="/employee/list/employees" class="btn btn-primary">Empregados</a>
        <a href="/costumer/list/costumers" class="btn btn-primary">Clientes</a>
        <a href="/product/list/products" class="btn btn-primary">Produtos</a>
        <br><br>
        <h3>Contas a Pagar/Receber</h3>
        <a href="/provider_bill/list/provider_bills" class="btn btn-danger">Contas a Pagar</a>
        <a href="/costumer_bill/list/costumer_bills" class="btn btn-success">Contas a Receber</a>
        <br><br>
        <h3>Relação Conta x Produto</h3>
        <a href="/provider_bill_product/list/provider_bill_products" class="btn btn-primary">Relação Conta x Produto
            (Fornecedor)</a>
        <a href="/costumer_bill_product/list/costumer_bill_products" class="btn btn-primary">Relação Conta x Produto
            (Cliente)</a>
    </div>
</div>
</body>